
<div class="mb-3">
    <h2>What does your rich life look like?</h2>
  <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Envision and articulate your rich life here"></textarea>
</div>