
{{! Posts written by users (with usernames) will be dsplayed here. }}


{{#each posts as |post|}}
  <li>
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <p>By: {{post.user.username}}</p>
  </li>
{{/each}}

<ul>


  
</ul>


